/node_modules/
npm-debug.log
/temp/
/mochawesome-reports/
/coverage/
test/temp/
store
.idea
temp
/src/certificates/pass.io.passbookmanager.test-cert.pem
/src/certificates/pass.io.passbookmanager.test-key.pem
docs
mochaawesome-report
mochaawesome-reports
